<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Example</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
    <style>
        .divider {
            border-right: 2px solid #ddd; /* Đường kẻ chia đôi */
            height: 100%;
        }

        /* The overlay background */
        #overlay {
            display: none; /* Hidden by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
            justify-content: center;
            align-items: center;
        }

        #overlay1 {
            display: none; /* Hidden by default */
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: rgba(0, 0, 0, 0.5);
            z-index: 999;
            justify-content: center;
            align-items: center;
        }

        /* The form container */
        #employeeForm {
            background-color: white;
            padding: 20px;
            border-radius: 8px;
            width: 60%;
            max-width: 500px;
        }
    </style>
</head>
<body class="bg-gray-100 p-4">


<div class="top-0 left-0 w-full">
    <div th:replace="~{fragments/header :: header}"></div>

    <div class="w-[90%] mx-auto bg-white p-6 rounded-lg shadow-md mt-12">

        <div class="flex justify-between items-center mb-4">
            <h1 class="text-2xl font-semibold">Danh sách nhân viên</h1>
            <a  href="/employees/addEmployee">
                <button name="addEmployee" id="showFormButton" class="bg-blue-500 text-white px-4 py-2 rounded flex items-center">
                    <i class="fas fa-plus mr-2"></i> Thêm Nhân viên
                </button>
            </a>
        </div>
        <div class="flex justify-between items-center mb-4">
            <p id="totalRecords" class="text-gray-600 mb-4">Tổng cộng: <span id="recordCount">0</span> bản ghi</p>
            <div class="w-1/6 mb-4 bg-white rounded-lg p-4">
                <form th:action="@{/employees}" method="get">
                    <select id="search-status" name="trangthai"
                            class="w-full px-3 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-blue-500 focus:border-blue-500"
                            onchange="this.form.submit()"> <!-- Gửi form khi thay đổi -->
                        <option value="working" th:selected="${trangthai == 'working'}">Đang làm việc</option>
                        <option value="inactive" th:selected="${trangthai == 'inactive'}">Đã nghỉ</option>
                    </select>
                </form>
            </div>


        </div>

        <div id="overlay1" class="hidden fixed inset-0 bg-black bg-opacity-50 flex justify-center items-center">
            <div class="w-11/12 md:w-2/3 lg:w-1/2 bg-white p-6 rounded-lg shadow-lg">
                <div class="border-b pb-3 mb-3">
                    <h5 class="text-lg font-semibold">Thêm mới nhân viên</h5>
                </div>
                <ul class="flex border-b">
                    <li class="mr-1">
                        <button class="bg-white inline-block py-2 px-4 text-blue-500 border-b-2 border-blue-500 focus:outline-none"
                                id="info-tab1">Thông tin
                        </button>
                    </li>
                </ul>
                <div class="mt-3">
                    <div id="info1" class="block">
                        <form th:action="@{/employees}" method="post">
                            <div class="grid grid-cols-1 md:grid-cols-3 gap-4">
                                <div>
                                    <label class="block text-sm font-medium text-gray-700">Cửa Hàng</label>
                                    <input type="text" class="w-full mt-1 p-2 border rounded-md"
                                           th:placeholder="${store.getName()}" disabled>
                                </div>
                                <div>
                                    <label class="block text-sm font-medium text-gray-700">Địa Chỉ</label>
                                    <input type="text" class="w-full mt-1 p-2 border rounded-md"
                                           th:placeholder="${store.getAddress()}" disabled>
                                </div>
                            </div>
                            <div class="mt-4">
                                <label class="block text-sm font-medium text-gray-700">Tên Đăng Nhập</label>
                                <input name="username" type="text" class="w-full mt-1 p-2 border rounded-md"
                                       placeholder="Nhập tên đăng nhập">
                            </div>
                            <div class="mt-4">
                                <label class="block text-sm font-medium text-gray-700">Password</label>
                                <input name="password" type="password" class="w-full mt-1 p-2 border rounded-md"
                                       placeholder="Nhập password">
                            </div>
                            <div class="mt-4">
                                <label class="block text-sm font-medium text-gray-700">Email</label>
                                <input name="email" type="email" class="w-full mt-1 p-2 border rounded-md"
                                       placeholder="Nhập email">
                            </div>
                            <div class="mt-4">
                                <label class="block text-sm font-medium text-gray-700">Tên Nhân Viên</label>
                                <input name="name" type="text" class="w-full mt-1 p-2 border rounded-md"
                                       placeholder="Nhập tên nhân viên">
                            </div>
                            <div class="mt-4">
                                <label class="block text-sm font-medium text-gray-700">Địa Chỉ</label>
                                <input name="address" type="text" class="w-full mt-1 p-2 border rounded-md"
                                       placeholder="Nhập địa chỉ">
                            </div>
                            <div class="mt-4">
                                <label class="block text-sm font-medium text-gray-700">Số Điện Thoại</label>
                                <input name="phone" type="text" class="w-full mt-1 p-2 border rounded-md"
                                       placeholder="Nhập số điện thoại">
                            </div>
                            <div class="mt-4">
                                <label class="block text-sm font-medium text-gray-700">Ghi Chú</label>
                                <input name="note" type="text" class="w-full mt-1 p-2 border rounded-md"
                                       placeholder="Nhập ghi chú">
                            </div>
                            <div class="mt-6 flex justify-end gap-4">
                                <button type="submit"
                                        class="bg-blue-500 text-white px-4 py-2 rounded-md hover:bg-blue-600">Sửa
                                </button>
                                <button type="reset" class="bg-gray-300 px-4 py-2 rounded-md hover:bg-gray-400"
                                        id="cancelButton1">Bỏ qua
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        <div class="overflow-x-auto">
            <table class="table-auto border-collapse border w-full">
                <thead>
                <tr class="bg-gray-100">
                    <th class="border p-2 relative">Id
                        <div class="resizer"></div>
                    </th>
                    <th class="border p-2 relative">Tên
                        <div class="resizer"></div>
                    </th>
                    <th class="border p-2 relative">Địa chỉ
                        <div class="resizer"></div>
                    </th>
                    <th class="border p-2 relative">SĐT
                        <div class="resizer"></div>
                    </th>
                    <th class="border p-2 relative">Email
                        <div class="resizer"></div>
                    </th>
                    <th class="border p-2 relative">Tổng nợ
                        <div class="resizer"></div>
                    </th>
                    <th class="border p-2 relative">Ngày tạo
                        <div class="resizer"></div>
                    </th>
                    <th class="border p-2 relative">Cập nhật
                        <div class="resizer"></div>
                    </th>
                    <th class="border p-2 relative w-[340px]">Hành động
                        <div class="resizer"></div>
                    </th>

                </tr>
                <tr class="bg-gray-50">
                    <th class="border p-2">
                        <div class="flex w-full gap-1">
                            <input type="text" class="border rounded w-1/2 py-1 px-2" placeholder="Từ"
                                   style="font-weight: normal;" id="search-id-min">
                            <input type="text" class="border rounded w-1/2 py-1 px-2" placeholder="Đến"
                                   style="font-weight: normal;" id="search-id-max">
                        </div>
                    </th>

                    <td class="border p-2"><input type="text" class="w-full border rounded p-1" id="search-name"></td>
                    <td class="border p-2"><input type="text" class="w-full border rounded p-1" id="search-address">
                    </td>
                    <td class="border p-2"><input type="text" class="w-full border rounded p-1" id="search-phone"></td>
                    <td class="border p-2"><input type="text" class="w-full border rounded p-1" id="search-email"></td>

                    <th class="border p-2">
                        <div class="flex w-full gap-1">
                            <input type="text" class="border rounded w-1/2 py-1 px-2" placeholder="Từ"
                                   style="font-weight: normal;" id="search-debt-min">
                            <input type="text" class="border rounded w-1/2 py-1 px-2" placeholder="Đến"
                                   style="font-weight: normal;" id="search-debt-max">
                        </div>
                    </th>

                    <th class="border p-2">
                        <div class="flex w-full gap-1">
                            <input type="text" class="border rounded w-1/2 py-1 px-2" placeholder="Từ"
                                   style="font-weight: normal;" id="search-created-date-min">
                            <input type="text" class="border rounded w-1/2 py-1 px-2" placeholder="Đến"
                                   style="font-weight: normal;" id="search-created-date-max">
                        </div>
                    </th>

                    <th class="border p-2">
                        <div class="flex w-full gap-1">
                            <input type="text" class="border rounded w-1/2 py-1 px-2" placeholder="Từ"
                                   style="font-weight: normal;" id="search-updated-date-min">
                            <input type="text" class="border rounded w-1/2 py-1 px-2" placeholder="Đến"
                                   style="font-weight: normal;" id="search-updated-date-max">
                        </div>
                    </th>

                    <td class="border p-2">
                        <div class="flex gap-2 w-full">
                            <button id="clearFilters" class="w-1/2 bg-white border border-red-500 text-red-500 px-2 py-1 rounded flex items-center justify-center toggle-btn
                                    hover:bg-red-500 hover:text-white transition duration-200"
                                    data-full='<i class="fas fa-times mr-1"></i> Bỏ lọc'
                                    data-icon='<i class="fas fa-times"></i>'>
                                <i class="fas fa-times mr-1"></i> Bỏ lọc
                            </button>


                            <button id="toggleButtons" class="w-1/2 bg-white border border-blue-500 text-blue-500 px-2 py-1 rounded flex items-center justify-center toggle-btn
                                hover:bg-blue-500 hover:text-white transition duration-200">
                                <i class="fas fa-angle-right mr-1"></i> Thu gọn
                            </button>
                        </div>
                    </td>
                    <td hidden="hidden"></td>
                </tr>

                </tr>
                </thead>

                <tbody id="tableBody">
                <tr th:each="employee : ${employees}">
                    <td class="border p-2" th:text="${employee.getId()}"></td>
                    <td class="border p-2" th:text="${employee.getName()}"></td>
                    <td class="border p-2" th:text="${employee.getAddress()}"></td>
                    <td class="border p-2" th:text="${employee.getPhone()}"></td>
                    <td class="border p-2" th:text="${employee.getEmail()}"></td>
                    <td class="border p-2"></td>
                    <td class="border p-2" th:text="${employee.getCreatedAt()}"></td>
                    <td class="border p-2" th:text="${employee.getUpdatedAt()}"></td>
                    <td class="border p-2">
                        <div class="flex gap-2 w-full">
                            <button class="w-1/4 bg-blue-500 text-white px-2 py-1 rounded flex items-center justify-center toggle-btn
                                    hover:bg-blue-700 hover:text-white transition duration-200"
                                    data-full='<i class="fas fa-info mr-1"></i> Chi tiết'
                                    data-icon='<i class="fas fa-info"></i>'>
                                <i class="fas fa-info mr-1"></i> Chi tiết
                            </button>

<!--                            <div th:if="${!employee.isDelete()}" class="w-1/2 ">-->
<!--                                <form th:action="@{/manage/{id}(id=${employee.getId()})}" method="post"-->
<!--                                      onsubmit="return confirm('Bạn có chắc chắn muốn xóa?');">-->
<!--                                    <button type="submit"-->
<!--                                            class=" bg-red-500 text-white px-4 py-2 rounded-lg flex items-center justify-center toggle-btn button-xoa space-x-2 hover:bg-red-600 transition duration-200">-->
<!--                                        <i class="fas fa-trash-alt"></i>-->
<!--                                        <span>Xóa</span>-->
<!--                                    </button>-->
<!--                                </form>-->
<!--                            </div>-->
<!--                            <div th:unless="${!employee.isDelete()}" class="w-1/2">-->
<!--                                <form th:action="@{/manage/{id}(id=${employee.getId()})}" method="get"-->
<!--                                      onsubmit="return confirm('Bạn có chắc chắn muốn khôi phục?');">-->
<!--                                    <button type="submit" class=" bg-green-500 text-white px-4 py-2 rounded-lg flex items-center justify-center toggle-btn button-khoi-phuc space-x-2-->
<!--                                            hover:bg-green-600 hover:text-white transition duration-200">-->
<!--                                        <i class="fas fa-undo mr-1"></i> <span>Khôi Phục</span>-->
<!--                                    </button>-->
<!--                                </form>-->
<!--                            </div>-->

                            <button
                                    class="showFormButton1 w-1/4 bg-yellow-300 text-black px-2 py-1 rounded flex items-center justify-center toggle-btn
                                    hover:bg-yellow-500 hover:text-white transition duration-200"
                                    data-full='<i class="fas fa-pencil-alt mr-1"></i> Sửa'
                                    data-icon='<i class="fas fa-pencil-alt"></i>'>
                                <i class="fas fa-pencil-alt mr-1"></i> Sửa
                            </button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="w-full flex justify-center items-center mt-4 gap-12">
            <button id="prevPage"
                    class="bg-gray-200 text-black px-8 py-2 rounded hover:bg-gray-400 hover:text-white transition duration-200">
                Trước
            </button>

            <div class="flex items-center">
                <span>Trang</span>
                <input type="text" id="currentPage" class="w-12 border rounded px-2 py-1 mx-2 text-center" value="1">
                <span id="totalPages">/ 1</span>
            </div>

            <select id="recordsPerPage" class="border rounded px-4 py-2">
                <option value="5">5 Bản ghi</option>
                <option value="10">10 Bản ghi</option>
                <option value="20">20 Bản ghi</option>
            </select>

            <button id="nextPage"
                    class="bg-gray-200 text-black px-8 py-2 rounded hover:bg-gray-400 hover:text-white transition duration-200">
                Sau
            </button>
        </div>


    </div>
</div>

<div th:replace="~{fragments/script :: script}"></div>
<script th:src="@{/assets/js/paginationRecord.js}"></script>

<script>
    var overlay1 = document.getElementById("overlay1");
    var cancelButton1 = document.getElementById("cancelButton1");

    // Gán sự kiện click cho tất cả nút "Sửa" khi trang được load
    document.querySelectorAll(".showFormButton1").forEach(function (button) {
        button.addEventListener("click", function () {
            // Lấy hàng chứa nút "Sửa" được bấm
            var row = this.closest("tr");

            // Lấy dữ liệu của nhân viên từ hàng đó
            var employeeId = row.cells[0].textContent;
            var username = row.cells[1].textContent;
            var email = row.cells[4].textContent;
            var phone = row.cells[3].textContent;

            console.log("ID nhân viên:", employeeId);

            // Gán giá trị vào form trong overlay
            document.querySelector("#overlay1 input[name='username']").value = username;
            document.querySelector("#overlay1 input[name='email']").value = email;
            document.querySelector("#overlay1 input[name='phone']").value = phone;

            // Hiển thị overlay với form sửa
            overlay1.style.display = "flex";
        });
    });

    // Khi bấm "Bỏ qua", ẩn overlay đi
    cancelButton1.onclick = function () {
        overlay1.style.display = "none";
    };

    // Ẩn overlay khi bấm bên ngoài form
    overlay1.addEventListener("click", function (event) {
        if (event.target === overlay1) {
            overlay1.style.display = "none";
        }
    });
</script>
</body>
</html>
