<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="">
<head>
    <meta charset="UTF-8">
    <title>Chi tiết hóa đơn</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"/>
</head>
<body>


<div class="fixed top-0 left-0 w-full">
    <div th:replace="~{fragments/header :: header}"></div>
</div>

<div class="mt-28 container mx-auto p-4">

    <section class="bg-white p-6 rounded-lg shadow-lg">
        <h2 class="text-xl font-semibold mb-4">
            Chi tiết đơn hàng
        </h2>
        <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
            <div>
                <h3 class="text-lg font-medium">
                    Thông tin khách hàng
                </h3>
                <p class="mt-2">
                    <strong>Tên: </strong><span th:text="${customer.name}"></span>
                </p>

                <p class="mt-2">
                    <strong>Email: </strong><span th:text="${customer.email}"></span>

                </p>
                <p class="mt-2">
                    <strong>Số điện thoại: </strong><span th:text="${customer.phone}"></span>

                </p>
                <p class="mt-2">
                    <strong>Địa chỉ: </strong><span th:text="${customer.address}"></span>

                </p>
            </div>
            <div>
                <h3 class="text-lg font-medium">
                    Thông tin đơn hàng
                </h3>
                <p class="mt-2">
                    <strong>Mã đơn hàng: </strong><span th:text="${invoice.getId()}"></span>
                </p>
                <p class="mt-2">
                    <strong>Ngày tạo: </strong><span
                        th:text="${#temporals.format(invoice.createdAt, 'dd/MM/yyyy HH:mm:ss')}"></span>
                </p>
                <p class="mt-2">
                    <strong>Trạng thái: </strong>
                    <span th:if="${invoice.paymentStatus == 'Paid'}">Đã thanh toán</span>
                    <span th:if="${invoice.paymentStatus == 'Unpaid'}">Chưa thanh toán</span>
                    <span th:if="${invoice.paymentStatus == 'In_debt'}">Ghi nợ</span>

                </p>
                <p class="mt-2">
                    <strong>Số tiền (VNĐ): </strong><span
                        th:text="${#numbers.formatDecimal(invoice.finalAmount, 0, 'COMMA', 0, 'POINT') + ' đ'}"></span>
                </p>
            </div>
        </div>
    </section>
    <section class="bg-white p-6 rounded-lg shadow-lg mt-6">
        <h2 class="text-xl font-semibold mb-4">
            Sản phẩm trong đơn hàng
        </h2>
        <table class="min-w-full bg-white">
            <thead>
            <tr>
                <th class="py-2 px-4 border p-2">
                    Tên sản phẩm
                </th>
                <th class="py-2 px-4 border p-2">
                    Khu vực
                </th>
                <th class="py-2 px-4 border p-2">
                    Số lượng
                </th>
                <th class="py-2 px-4 border p-2">
                    Giá
                </th>
                <th class="py-2 px-4 border p-2">
                    Tổng cộng (VNĐ)
                </th>
            </tr>
            </thead>
            <tbody>
            <th:block th:each="invoiceDetail, iterStat : ${invoiceDetail}">
                <tr>
                    <td class="py-2 px-4 border p-2" th:text="${productNameList[iterStat.index]}"></td>
                    <td class="py-2 px-4 border p-2" th:text="${zoneNameList[iterStat.index]}"></td>
                    <td class="py-2 px-4 border p-2" th:text="${invoiceDetail.quantity}"></td>
                    <td class="py-2 px-4 border p-2" th:text="${#numbers.formatDecimal(invoiceDetail.unitPrice, 0, 'COMMA', 0, 'POINT') + ' đ'}"></td>
                    <td class="py-2 px-4 border p-2" th:text="${#numbers.formatDecimal(invoiceDetail.totalPrice, 0, 'COMMA', 0, 'POINT') + ' đ'}"></td>
                </tr>
            </th:block>
            </tbody>
        </table>
    </section>
    <button class="mt-6 bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600"
            onclick="window.location.href='/invoiceSale'">
        Quay Lại
    </button>

</div>

<div th:replace="~{fragments/script :: script}"></div>
</body>
</html>

